extends layout

block content
	.container
			.row
				.col-lg-12.text-center.tab-content
					h3.formHeading Oops ! It seems you do not have enough money in your wallet 
					a(href='http://localhost:1010/')
						h3 Login again and recharge your wallet.